path_to_dists = ...Справочные данные\dists(1).xlsx
path_to_op3m_report = ...Аналитика\ОП-3М_СОО\Сводный month.xlsx
path_to_cap = ...Справочные данные\Класс маршрута.xlsx
path_to_coefs = ...Справочные данные\Коэффициенты за все этапы.xlsx
path_to_serv_acc =...service_account.json
path_to_results=...daily_loss_report\results

daily_loss_report_id=
test_id=
colon_report_id=
test_id=
test=

DATABASE_URL=...analyticsdb


